{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Home
{% endblock title %}

{% block scripts %}
    {{ block.super }}
    <script>
    $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

    $(document).ready(function(){
        function resetFormAndClearImages() {
            document.getElementById("search_form").reset();
            $("#images").empty();
        }

        $(document).ready(function(){
            $("#refresh-button").click(function(){
                resetFormAndClearImages();
                location.reload();
            });
        });
    </script>
{% endblock scripts %}


{% block content %}
    <div class="row">
        <div class="col-md-6 mb-3">
            <div id="instructional-box">
  <p>Please enter the lab batch number(s) separated by commas. You can also enter ranges using hyphens. For example: 1, 3-5, 7</p>
</div>

            <form action="" method="POST">
                {% csrf_token %}
                {{ search_form|crispy }}

                <button class="btn btn-primary mt-3" type="submit">Search</button>
                <button type="button" class="btn btn-primary mt-3" id="refresh-button" reset>Refresh</button>

            </form>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="container-xxl p-3 my-3 border mt-2 events">
                        <h3 class="mb-3 d-flex justify-content-center">Conductivity</h3>
                        {% if chart1 %}
                            <img src="data:image/png;base64, {{ chart1|safe }}" alt="" class="img-fluid chart-img">
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="container-xxl p-3 my-3 border mt-2 events">
                        <h3 class="mb-3 d-flex justify-content-center">Voltage</h3>
                        {% if chart2 %}
                            <img src="data:image/png;base64, {{ chart2|safe }}" alt="" class="img-fluid chart-img">
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="container-xxl p-3 my-3 border mt-2 events">
                        <h3 class="mb-3 d-flex justify-content-center">LCE</h3>
                        {% if chart3 %}
                            <img src="data:image/png;base64, {{ chart3|safe }}" alt="" class="img-fluid chart-img">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
